.box {
  width: 400px;
  height: 400px;
  background: coral;
  padding: 16px;
}

.child {
  background: royalblue;
  width: 50%;
  height: 50%;
}

input:invalid {
  outline: 2px solid coral;
}

input:valid {
  outline: 2px solid lightgreen;
}
