body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}

.items {
  display: flex;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.product-item {
  display: grid;
  grid-template-columns: 200px 1fr;
}
